.pInfo {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 40vw;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    margin: 3vw;
    box-shadow: 1px 1px 4px gray;
}

#person {
    margin: 1.5vw 2vw 0.5vw 2vw;
    width: 13vw;
    height: 13vw;
    object-fit: cover;
    border-radius: 50%;
}

.theName {
    color:#581804;
    font-size: 4vw;
    text-align: center;
    margin: auto auto auto 2vw;
}

.pts, .pts_f, .pts_c, .pts_e {
    color:#242904;
    text-decoration: none;
    font-size: 3vw;
    text-align: center;
    margin: 2vw 0 1.5vw 0;
}

.pts_f, .pts_c, .pts_e {
    font-size: 3vw;
    color: white;
}

.detailInfo {
    display: flex;
    flex-direction: row;
}

.wastePts {
    width: 60vw;
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f_v, .c_g, .e_t {
    width: 15vw;
    margin: 0.5vw;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#f_v, #c_g, #e_t {
    margin:auto;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.f_v {
    border: 1px solid #8da014;
    background-color: #8da014;
}

.c_g {
    border: 1px solid #6e3811;
    background-color: #6e3811;
}

.e_t {
    border: 1px solid grey;
    background-color: grey;
}

.reward {
    height: auto;
}

.rewardH2 {
    color:black; 
    margin: 0 2% 3% 2%;
    font-size: 3vw;
    text-decoration: underline;
}

#redeem {
    display: flex;
    flex-direction: row;
    margin: 0.5vw 0 3vw 0;
}

.item1, .item2, .item3, .item4 {
    border:3px #B7D118 dashed;
    border-radius: 20px;
    width: 20vw;
    margin: 0 2.5% 0 2.5%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1 img, .item2 img, .item3 img, .item4 img {
    width: 80%;
    height: 13vw;
    object-fit: cover;
    margin: 1vw;
    border-radius: 10%;
}

.item1 h3, .item2 h3, .item3 h3, .item4 h3 {
    text-decoration: none;
    margin: 0;
    color:#3d4508;
}

.item1 p, .item2 p, .item3 p, .item4 p {
    margin: 1vw;
    font-size: 1.8vw;
}

